[submodule "deps/EasyCuda"]
	path = deps/EasyCuda
	url = https://github.com/RaduAlexandru/EasyCuda.git
[submodule "deps/jitify"]
	path = deps/jitify
	url = https://github.com/RaduAlexandru/jitify
[submodule "deps/EasyPytorch"]
	path = deps/EasyPytorch
	url = https://github.com/RaduAlexandru/EasyPytorch.git
[submodule "deps/loguru"]
	path = deps/loguru
	url = https://github.com/RaduAlexandru/loguru.git
[submodule "deps/configuru"]
	path = deps/configuru
	url = https://github.com/RaduAlexandru/Configuru.gi
